#words{

	background-color: #eeffee;
	color: blue;
	width: 800px;
	height: 100px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

main, div {
	width: 100%;
	margin: 0 auto;
	
}

span {
	font-size: 3em;
	font-weight: 500;
}

div {
	bottom: 10px;
}

#count {
	text-align: center;
	font-size: 3em;
	
}